body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  text-align: left;
  background-color: #ffffff;
}

p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  padding-left: 12px;
}

.pretty {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding-left: 12px;
  padding-right: 12px;
  }

.pretty1 {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  padding-right: 1000px;

}

.row1 {
  display: flex;
}

.column1 {
  flex: 50%;
}

.column2 {
  flex: 50%;
}

.column3 {
  flex: 50%;
}

.column4 {
  align-content: center;
}

.mini {
  flex: 15%;
  margin: 5%;
}

.div-for-dropdown {
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #ffffff;

}
